{% extends 'base.html.twig' %}

{% block title %}Se connecter !{% endblock %}

{% block body %}
    <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes loggé en tant que : {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

        <h1>Connectez vous !</h1>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <label for="inputMail">Email</label>
                <input type="text" value="{{ last_username }}" name="mail" id="inputMail" class="form-control" required autofocus>
                <label class="mt-2" for="inputPassword">Mot de passe</label>
                <input type="password" name="mot_de_passe" id="inputPassword" class="form-control" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="checkbox mt-2 mb-1">
                        <input type="checkbox" name="_remember_me" checked/>
                        <label for="remember_me">Se souvenir de moi </label>
                </div>
                <button class="btn btn-lg btn-primary" type="submit">
                    Se connecter !
                </button>
            </div>
        </div>
    </form>
{% endblock %}
