{% extends "base.html.twig" %}

{% block title %}
        ADD USER
{% endblock %}

{% block body %}


    <div style="margin-top: 5px " xmlns="http://www.w3.org/1999/html">


    <h2>Ajouter un participant</h2>
    <br/><br/>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            {{ form_start(pForm) }}

            {{ form_row(pForm.pseudo) }}
            {{ form_row(pForm.prenom) }}
            {{ form_row(pForm.nom) }}
            {{ form_row(pForm.campus) }}
            {{ form_row(pForm.administrateur) }}
            {{ form_row(pForm.actif) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(pForm.telephone) }}
            {{ form_row(pForm.mail) }}
            {{ form_row(pForm.mot_de_passe) }}



        </div>

            <div class="col-lg-3"></div>
    <div class="col-lg-2"></div>
            <div class="col-lg-2">
                <button style="height:70px;width:150px; align-content:center ; margin-top:70px; margin-left: -50px; border:0px"
                        type="submit" class="btn-primary">Enregistrer
                </button>
            </div>
            <div class="col-lg-3">

                <button style="height:70px;width:150px; align-content:center ; background-color: #AAAAAA; margin-top:70px; margin-left: -50px"> <a style="font-family:Verdana; color:white; text-decoration:none;" href="{{ path('administrateur_accueilAdmin') }}">Retour</a>
            </button>

            </div>


                 {{ form_end(pForm) }}





{% endblock %}