{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_row(form.avatar) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}


    <a href="{{ path('participant_index') }}">back to list</a>

    {{ include('participant/_delete_form.html.twig') }}
{% endblock %}
