{% extends 'base.html.twig' %}

{% block title %}Participants{% endblock %}

{% block body %}
    <h1>Liste des Participants</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Telephone</th>
                <th>E-mail</th>

                <th>Administrateur</th>
                <th>Actif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.id }}</td>
                <td>{{ participant.pseudo }}</td>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.telephone }}</td>
                <td>{{ participant.mail }}</td>

                <td>{{ participant.administrateur ? 'Oui' : 'Non' }}</td>
                <td>{{ participant.actif ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('participant_show', {'id': participant.id}) }}">Voir profil</a> <br>

                    <a href="{{ path('administrateur_change_actif', {'id': participant.id}) }}">Modifier l'etat</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun participant trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('administrateur_accueilAdmin') }}">Retour</a>
{% endblock %}
