{% extends "base.html.twig" %}


{% block title %}{{ parent() }}Accueil{% endblock %}

{% block body %}
    <h4 class=" d-block d-md-none ">Mes sorties</h4>

    <div class="d-none d-md-block">
        <div class="row">
            <div class="col-md-4">
                <h4> Filtrer les sorties</h4>
            </div>
            <div class="col-md-8 font-weight-bold text-right">
                Date du jour : {{ "now"|date('d/m/y') }}
            </div>
            <div class="col-md-4"></div>
            <div class=" col-md-8 font-weight-bold text-right">
                Utilisateur connecté : {{ app.user.pseudo }}
            </div>



            <div class=" col-md-5 col-lg-5  ">
                {{ form_start(formTri) }}
                {{ form_row(formTri.campus) }}
                {{ form_row(formTri.q) }}
            </div>
            <div class="col-md-4 col-lg-4  ">
                {{ form_row(formTri.organisateur) }}
                {{ form_row(formTri.inscrit) }}
                {{ form_row(formTri.pasInscrit) }}
                {{ form_row(formTri.passees) }}
            </div>
            <div class="col-md-3 col-lg-3  mt-5   ">
                <button
                        type="submit" class="btn-primary btn-lg">Rechercher
                </button>
            </div>
            <div class="d-flex col-lg-12">
                <div class="col-lg-4 ml-0">
                    {{ form_label(formTri.dateMin) }}
                    {{ form_widget(formTri.dateMin) }}
                    {{ form_errors(formTri.dateMin) }}
                </div>
                <div class="col-lg-4">
                    {{ form_label(formTri.dateMax) }}
                    {{ form_widget(formTri.dateMax) }}
                    {{ form_errors(formTri.dateMax) }}
                </div>
                <div class="col-lg-4"> <a class="btn btn-primary  " href="{{ path('sortie_new') }}">Créer une sortie</a> </div>
            </div>
            {{ form_end(formTri) }}

            <div class="table-responsive">
                <table class="table table-striped  header-fixed d-none d-md-block" >
                    <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th >Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/Places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sortie in sorties %}
                        {% set  inscrit = false %}
                        {% for participant in sortie.participants %}
                            {% if participant.id == app.user.id %}
                                {% set inscrit = true %}
                            {% endif %}
                        {% endfor %}

                        {% if sortie.etat.id == 1 and sortie.organisateur.id != app.user.id %}

                        {% else %}
                            <tr class="text-center">
                                <td class="filterable-cell " >{{ sortie.nom }}</td>
                                <td class="filterable-cell " >{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y H:i') : '' }}</td>
                                <td class="filterable-cell " >{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y ') }}</td>
                                <td class="filterable-cell " >{{ sortie.participants | length }}/ {{ sortie.nbInscriptionsMax }}</td>
                                <td class="filterable-cell " >{{ sortie.etat.libelle }}</td>
                                <td class="filterable-cell ">{% if inscrit %} X {% endif %}</td>
                                <td class="filterable-cell " ><a href="{{ path('participant_show',{'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</td>
                                <td class="filterable-cell" >
                                    {% if sortie.etat.id != 1 %}
                                        <a href="{{ path('sortie_show', {'id': sortie.id}) }}">
                                            Afficher</a>
                                    {% endif %}

                                    {% if sortie.etat.id == 1 and sortie.organisateur.id == app.user.id %}
                                        <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">
                                            Modifier</a>
                                    {% endif %}

                                    {% if  sortie.etat.id == 1 and sortie.organisateur.id == app.user.id %}
                                        <a href="{{ path('sortie_publish', {'id': sortie.id}) }}">
                                            Publier</a>
                                    {% endif %}

                                    {% if (sortie.etat.id == 2 or sortie.etat.id == 3) and inscrit == true %}
                                        <a href="{{ path('sortie_unregistration', {'id': sortie.id}) }}">
                                            Se désister</a>
                                    {% endif %}

                                    {% if sortie.etat.id == 2 and inscrit == false and sortie.organisateur.id != app.user.id %}<a
                                        href="{{ path('sortie_registration', {'id': sortie.id}) }}">
                                            S'inscrire</a>
                                    {% endif %}
                                    {% if (sortie.etat.id == 2 or sortie.etat.id == 3) and sortie.organisateur.id == app.user.id  %}<a
                                        href="{{ path('sortie_cancel', {'id': sortie.id}) }}">
                                            Annuler</a>
                                    {% endif %}

                                </td>
                            </tr>

                        {% endif %}
                    {% else %}
                        <tr>
                            <td  colspan="8">Aucune sortie trouvée</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="d-block d-md-none">
        <div class="table-responsive">
            <table class="table table-striped  header-fixed header-fix-mobile" >
                <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Lieu</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}

                    {% if sortie.campus == app.user.campus %}
                        <tr class="text-center">
                            <td class="filterable-cell " ><a href="{{ path('sortie_show', {'id': sortie.id}) }}"> {{ sortie.nom }} </a> </td>
                            <td class="filterable-cell " >{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y H:i') : '' }}</td>
                            <td class="filterable-cell  " >{{ sortie.lieu.ville.nom }}</td>
                        </tr>

                    {% endif %}
                {% else %}
                    <tr>
                        <td class="d-block d-md-none" colspan="8">Aucune sortie trouvée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}