{% extends "base.html.twig" %}


{% block title %}Sortie index{% endblock %}

{% block body %}


<div class="container">
    <div class="c ">
    <div class="date">
    Date du jour: {{ "now"|date('d/m/y') }}
    </div>
    <div>
     Participant :{{ app.user.pseudo }}
    </div>
    </div>
</div>
    <h4>Filtrer les sorties</h4>
    <div>
        <div class="col-md-4">
       {{ form_start(formTri) }}

       {{ form_widget(formTri)}}
            <button type="submit" class="btn-primary" >Rechercher </button>
       {{ form_end(formTri) }}


        </div>
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endfor %}



    <div class="container overflow-auto " style=" height: 300px">
        <table class="table table-striped ">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td colspan="1">{{ sortie.nom }}</td>
                    <td colspan="1">{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y H:i') : '' }}</td>
                    <td colspan="1">{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y ') }}</td>
                    <td colspan="1">  {{ sortie.participants | length }}/ {{ sortie.nbInscriptionsMax }}</td>
                    <td colspan="1"> {{ sortie.etat.libelle }}</td>
                    <td colspan="1"> {% for participant in sortie.participants  %}
                                        {%  if participant.id == app.user.id  %}
                                          X
                                        {% endif    %}
                                    {% endfor %}
                    </td>
                    <td colspan="1"><a href="{{ path('participant_show',{'id': sortie.organisateur.id}) }}">  {{ sortie.organisateur.pseudo }} </td>
                    <td colspan="1">
                        <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                        <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                        <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Publier</a>
                        <a href="{{ path('sortie_unregistration', {'id': sortie.id}) }}">Se désister</a>
                        <a href="{{ path('sortie_registration', {'id': sortie.id}) }}">S'inscrire</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td  colspan="8">Aucune sortie trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <a  class="btn btn-primary" href="{{ path('sortie_new') }}">Créer une sortie</a>
    </div>
{% endblock %}