{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Annuler une sortie{% endblock %}

{% block body %}

    <div class="d-none d-md-block">
        <h1>Annuler la Sortie</h1>
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-lg-2 col-md-4 mr-lg-0"  >
                <p class="font-weight-bold text-nowrap">Nom de la sortie :</p>
                <p class="font-weight-bold text-nowrap">Date et heure de la sortie : </p>
                <p class="font-weight-bold text-nowrap">Campus : </p>
                <p class="font-weight-bold">Lieu : </p>
            </div>
            <div class="col-lg-2 col-md-3" >
                <p> {{ sortie.nom }}</p>
                <p> {{ sortie.dateHeureDebut|date('d-m-Y H:i:s') }}</p>
                <p>{{ sortie.campus.nom }}</p>
                <p> {{ sortie.lieu.nom }}</p>
                <p> {{ sortie.description }}</p>
            </div>

        </div>
        <div class="d-flex justify-content-center">
            <div class="text-center col-lg-5 ">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <a class="btn btn-secondary" href="{{ path('default_accueil') }}">Retour</a>
                <input type="submit" class="btn btn-primary" name="submit" value="Confirmer l'annulation">
                {{ form_end(form) }}
            </div>
        </div>

    </div>

{% endblock %}

