{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Sortie{% endblock %}

{% block body %}
    {%  set inscrit = false %}
    <h1>Sortie</h1>
    <div class="d-none d-md-block">
        <div class="row mt-2 d-flex justify-content-center">
            <div class="col-md-5"  >
                <p><span class="font-weight-bold text-nowrap">Nom de la sortie : </span>{{ sortie.nom }}</p>
                <p><span class="font-weight-bold text-nowrap">Date et heure de la sortie : </span>{{ sortie.dateHeureDebut|date('d-m-Y H:i:s') }}</p>
                <p><span class="font-weight-bold text-nowrap">Date limite d'inscription : </span>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y ') }}</p>
                <p><span class="font-weight-bold text-nowrap">Nombre de places : </span>{{ sortie.nbInscriptionsMax }}</p>
                <p><span class="font-weight-bold text-nowrap">Durée : </span>{{ sortie.duree }} minutes</p>
                <p><span class="font-weight-bold text-nowrap">Description et infos : </span>{{ sortie.description }}</p>
            </div>
            <div class="col-md-5">
                <p><span class="font-weight-bold text-nowrap">Campus : </span>{{ sortie.campus.nom }}</p>
                <p><span class="font-weight-bold text-nowrap">Lieu :  </span>{{ sortie.lieu.nom }}</p>
                <p><span class="font-weight-bold text-nowrap">Rue : </span>{{ sortie.lieu.rue }}</p>
                <p><span class="font-weight-bold text-nowrap">Code postal : </span>{{ sortie.lieu.ville.codePostal }}</p>
                <p><span class="font-weight-bold text-nowrap">Ville : </span>{{ sortie.lieu.ville.nom }}</p>
                <p><span class="font-weight-bold text-nowrap">Latitude : </span>
                    {% if sortie.lieu.latitude | length == 0 %}
                        {{  " Aucune info"      }}
                    {% endif %}
                    {{ sortie.lieu.latitude }}</p>
                <p><span class="font-weight-bold text-nowrap">Longitude : </span>
                    {% if sortie.lieu.longitude | length == 0 %}
                        {{  " Aucune info"      }}
                    {% endif %}
                    {{ sortie.lieu.longitude}} </p>
            </div>
        </div>
    </div>
    {#Code pour mobile#}
    <div class="d-block d-md-none">
        <div class="row mt-3">
            <div class="col-12"  >
                <p><span class="font-weight-bold text-nowrap">Nom : </span>{{ sortie.nom }}</p>
                <p><span class="font-weight-bold text-nowrap">Date et heure : </span>{{ sortie.dateHeureDebut|date('d-m-Y H:i:s') }}</p>
                <p><span class="font-weight-bold text-nowrap">Ville: </span>{{ sortie.lieu.ville.nom }}</p>
                <p><span class="font-weight-bold text-nowrap">Lieu : </span>{{ sortie.lieu.nom }}</p>
                <p><span class="font-weight-bold text-nowrap">Rue : </span>{{ sortie.lieu.rue }}</p>
                <p><span class="font-weight-bold text-nowrap">Code postal : </span>{{ sortie.lieu.ville.codePostal }}</p>
                <p><span class="font-weight-bold text-nowrap">Latitude : </span>
                    {% if sortie.lieu.latitude | length == 0 %}
                        {{  " Aucune info"      }}
                    {% endif %}
                    {{ sortie.lieu.latitude }}</p>
                <p><span class="font-weight-bold text-nowrap">Longitude : </span>
                    {% if sortie.lieu.longitude | length == 0 %}
                        {{  " Aucune info"      }}
                    {% endif %}
                    {{ sortie.lieu.longitude}}</p>
                <p><span class="font-weight-bold text-nowrap">Clôture : </span>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y ') }}</p>
                <p><span class="font-weight-bold text-nowrap">Nombre de places : </span>{{ sortie.nbInscriptionsMax }}</p>
                <p><span class="font-weight-bold text-nowrap">Durée : </span>{{ sortie.duree }} minutes</p>
                <p><span class="font-weight-bold text-nowrap">Description et infos : </span>{{ sortie.description }}</p>
            </div>
        </div>
    </div>
    <br/>
    <div class="col-lg-4" >
    {% if sortie.participants | length > 0 %}

        <h4>Liste des participants</h4>
        <table class="table table-striped ">

            <thead>
                <tr>
                    <th class="d-none d-md-block">Pseudo</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
                {% for participant in sortie.participants %}
                    {% if app.user.id == participant.id %}
                        {% set inscrit = true %}
                    {% endif %}
                <tr>
                    <td class="d-none d-md-block"><a href="{{ path('participant_show',{'id': participant.id}) }}"> {{ participant.pseudo }}</a></td>
                    <td > {{ participant.prenom }} {{ participant.nom }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>Aucun participant pour cette sortie</h4>
    {% endif%}
    </div>
    <div class="d-none d-md-block col-lg-4 mx-auto text-center">
        <a class="btn btn-secondary" href="{{ path('default_accueil') }}">Retour</a>
        {% if app.user.id == sortie.organisateur.id %}
            {% if sortie.etat.id == 2 %}
                <a class="btn btn-primary" href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier la sortie</a>
                <a class="btn btn-primary" href="{{ path('sortie_cancel', {'id': sortie.id}) }}">Annuler la sortie</a>
            {% endif %}
        {% elseif inscrit %}
            <a class="btn btn-primary" href="{{ path('sortie_unregistration', {'id': sortie.id})  }}">Se désister</a>
        {% else %}
            <a class="btn btn-primary" href="{{ path('sortie_registration', {'id': sortie.id})  }}">S'inscrire</a>
        {% endif %}
    </div>
{% endblock %}
