{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    {%  set inscrit = false %}
    <h1>Sortie</h1>
<div class="container-fluid">
    <table class="table table-striped">
        <tr>
            <th>Nom de la sortie :</th>
            <td>{{ sortie.nom }}</td>
        </tr>
        <tr>
            <th>Date et heure de la sortie :</th>
            <td>{{ sortie.dateHeureDebut|date('d-m-Y H:i:s') }}</td>
        </tr>
        <tr>
            <th>Date limite d'inscription :</th>
            <td>{{ sortie.dateHeureDebut|date('d-m-Y H:i:s') }}</td>
        </tr>
        <tr>
            <th>Nombre de places :</th>
            <td>{{ sortie.nbInscriptionsMax }}</td>
        </tr>
        <tr>
            <th>Durée :</th>
            <td>{{ sortie.duree }} minutes</td>
        </tr>
        <tr>
            <th>Description et infos :</th>
            <td>{{ sortie.description }}</td>
        </tr>
        <tr>
            <th>Campus :</th>
            <td>{{ sortie.campus.nom }}</td>
        </tr>
        <tr>
            <th>Lieu :</th>
            <td>{{ sortie.lieu.nom }}</td>
        </tr>
        <tr>
            <th>Rue :</th>
            <td>{{ sortie.lieu.rue }}</td>
        </tr>
        <tr>
            <th>Code postal :</th>
            <td>{{ sortie.lieu.ville.codePostal }}</td>
        </tr>
        <tr>
            <th>Ville :</th>
            <td>{{ sortie.lieu.ville.nom }}</td>
        </tr>
        <tr>
            <th>Latitude :</th>
            <td>{{ sortie.lieu.latitude }}</td>
        </tr>
        <tr>
            <th>Longitude :</th>
            <td>{{ sortie.lieu.longitude }}</td>
        </tr>
    </table>
</div>
<br/>
    <table class="table table-striped">

        {% if sortie.participants | length > 0 %}
            <h4>Liste des participants</h4>
        {% else %}
            <h4>Aucun participant pour cette sortie</h4>
        {% endif%}

        {% for participant in sortie.participants %}
            {% if app.user.id == participant.id %}
                {% set inscrit = true %}
            {% endif %}
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{{ path('participant_show',{'id': participant.id}) }}"> {{ participant.pseudo }}</a></td>
                    <td> {{ participant.prenom }} {{ participant.nom }}</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>

    {% if app.user.id == sortie.organisateur.id %}
        <a class="btn btn-primary" href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier la sortie</a>
    {% elseif inscrit %}
        <a class="btn btn-primary" href="{{ path('sortie_unregistration', {'id': sortie.id})  }}">Se désister</a>
    {% else%}
        <a class="btn btn-primary" href="{{ path('sortie_registration', {'id': sortie.id})  }}">S'inscrire</a>
    {% endif %}
    <a class="btn btn-secondary" href="{{ path('default_accueil') }}">Retour</a>

{% endblock %}
